Backup/
Cache/
Index/
Installed Packages/
Local/
Packages/**
!Packages/User/
!Packages/User/_**
!Packages/User/*.sublime*
!Packages/User/*.tmTheme
Packages/User/Package Control.last-run
Packages/User/Package Control.cache/
Packages/User/GoSublime/
Packages/User/encoding_cache.json
Packages/User/GoSublime-aux.sublime-settings
Packages/User/Package Control.merged-ca-bundle
Packages/User/oscrypto-ca-bundle.crt
Packages/User/ApplySyntax.ext-list
Packages/User/SublimeLinter/
.DS_Store
